Bonjour <%= current_user.firstname if user_signed_in? %>
<br />

<%= image_tag(current_user.avatar.file.url(:thumb)) if current_user && current_user.avatar %>

<ul>
	<% @products.each do |product| %>
		<li><%= product %></li>
	<% end %>
</ul>
